

<!DOCTYPE html>

<html>

<head>
    <title>About</title>
    <link rel="icon" href="img/weather.png">
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img class="portrait"src="img/IMG_20190204_234756.jpg" alt="Harsh verma">
    </div>

    {{>footer}}
</body>

</html>